<footer>
    <div class="container">
        <section class="footer__section footer__section--brand">
            <img src="http://cdn.interacht.com/boughtspot/boughtspot-logo.svg">
            <p class="footer__section--text">Branding • Software • Online Ads</p>
            </section>
        <section class="footer__section footer__section--map">
            <p class="footer__section--text">13 Star Avenue,</p>
            <p class="footer__section--text">Kokomlemle,</p>
            <p class="footer__section--text">Accra.</p>
        </section>
        <section class="footer__section footer__section--contact">
            <p class="footer__section--text"><a href="mailto:info@boughtspot.com">info@boughtspot.com</a></p>
            <p class="footer__section--text"><a href="tel:+233208747355">+233 208 747 355</a></p>
            <p class="footer__section--text">&nbsp;</p>
        </section>
    </div>
</footer>