<!DOCTYPE html>
<html>
  <head>
      <%= render "layouts/meta_and_styles" %>
  </head>

  <body>
      <%# <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
  </body>
</html>
