<header class="clients__header">
    <section class="home__header--enclosure container">
        <h1 class="home__header--tagline">Our Clients</h1>
    </section>
</header>

<section class="clients__intro container">
    <p>Our interest as a creative team at BoughtSpot is to help businesses project their identity, communicate their competencies and gain customers through digital properties. These are what we do.</p>
</section>

<section class="clients__list container">
    <ul class="clients__list--group">
        <li class="clients__list--item"></li>
        <li class="clients__list--item"></li>
        <li class="clients__list--item"></li>
        <li class="clients__list--item"></li>
        <li class="clients__list--item"></li>
    </ul>
</section>

<section class="home__cta container">
    <p class=home__cta--text>Not convinced? Check out who we have previously worked with.</p>
    <a href="/clients" class="home__cta--link pink--button">Our Clients</a>
</section>

