footer {
    background: #F5F5F5;
    padding: 100px 0;
    margin-top: 40px;
}

.footer__section {
    display: inline-block;
}

.footer__section--text {
    line-height: 2
}

.footer__section--brand {
    width: 44.5%;
    padding-left: 5%;
}

.footer__section--map {
    width: 16.5%;
}

.footer__section--contact {
    width: 33%;
}

@media (max-width: 940px) {
    .footer__section--brand {
        width: 40%;
        padding-left: 5%;
    }
    .footer__section--map {
        width: 20%;
    }
    .footer__section--contact {
        width: 25%;
    }
}

@media (max-width: 740px) {
    footer {
        padding: 75px 0;
    }
    .footer__section--brand {
        width: 100%;
        padding-left: 10%;
    }
    .footer__section--map {
        width: 44%;
        padding: 30px 0 0 10%;
    }
    .footer__section--contact {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .footer__section {
        width: 80%;
        padding-left: 10%;
    }
    .footer__section--contact {
        margin-top: 40px;
    }
}