// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home__header {
    background: #4768CF;
    padding-top: 350px;
}

.home__header--tagline {
    color: #fff;
    line-height: 1.2;
    padding-bottom: 20px;
}

.home__intro {}

.home__services {
    padding: 100px 0 100px;
    background: url("divider.svg") center bottom no-repeat;
}

.home__services--branding {
    background-image: url("circle.svg")
}

.home__services--software {
    background-image: url("square.svg")
}

.home__services--adverts {
    background-image: url("triangle.svg")
}

.home__services--title {}

.home__services--content {
    margin-top: 10px;
}

.service--item {
    max-width: 30%;
    padding-top: 95px;
    background-repeat: no-repeat;
    display: inline-block;
    &:not(:last-of-type) {
        margin-right: 4%;
    }
}

.home__cta {
    padding: 60px 0;
    margin-bottom: 50px;
    text-align: center;
}

.home__cta--text {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

.home__cta--link {
    font-weight: 100;
}