// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home__header {
    background: #4768CF;
    padding-top: 350px;
}

.home__header--tagline {
    color: #fff;
    line-height: 1.2;
    padding-bottom: 20px;
}

.home__intro {}

.home__services {
    padding: 100px 0 100px;
    background: url("divider.svg") center bottom no-repeat;
}

.home__services--branding {
    background-image: url("images/circle.svg")
}

.home__services--software {
    background-image: url("images/square.svg")
}

.home__services--adverts {
    background-image: url("images/triangle.svg")
}

.home__services--title {}

.home__services--content {
    margin-top: 10px;
}

.service--item {
    max-width: 30%;
    padding-top: 95px;
    background-repeat: no-repeat;
    display: inline-block;
    &:not(:last-of-type) {
        margin-right: 4%;
    }
}

.home__cta {
    padding: 60px 0;
    margin-bottom: 50px;
    text-align: center;
}

.home__cta--text {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

.home__cta--link {
    font-weight: 100;
}


/*
    The ff statements are for the Clients page
*/

.clients__header {
    background: #ffff00;
    padding-top: 200px;
    margin-bottom: 1em;
}

.clients__header--enclosure {}

.clients__header--title {
    margin-left: 40px;
    line-height: 1.2;
    padding-bottom: 20px;
}

.clients__intro {
    margin-top: 20px;
}

.clients__list {
    background: url("images/divider.svg") bottom center no-repeat;
    padding-bottom: 60px;
}

.clients__list--group {
    margin: 0px;
    margin-top: 80px;
}

.clients__list--item {
    list-style-type: none;
    margin: 15px 0;
    display: inline-block;
    width: 49%;
}

@media (min-width: 960px) {
    .clients__list--item {
        width: 24.5%;
    }
}

@media (max-width: 767px) {
    .clients__list--item {
        width: 33%;
    }
}