// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cdn-url: "http://cdn.interacht.com/boughtspot/";
.home__header {
    background: #4768CF;
    padding-top: 350px;
}

.home__header--tagline {
    color: #fff;
    line-height: 1.2;
    padding: 0 5% 20px;
    width: 90%;
}

.home__intro {}

.home__services {
    padding: 100px 0 100px;
    background: url($cdn-url+"divider.svg") center bottom no-repeat;
}

.home__services--branding {
    background-image: url($cdn-url+"circle.svg")
}

.home__services--software {
    background-image: url($cdn-url+"square.svg")
}

.home__services--adverts {
    background-image: url($cdn-url+"triangle.svg")
}

.home__services--title {}

.home__services--content {
    margin-top: 10px;
}

.service--item {
    width: 30%;
    padding-top: 95px;
    background-repeat: no-repeat;
    display: inline-block;
    &:not(:last-of-type) {
        margin-right: 4%;
    }
}

.home__cta {
    padding: 60px 0;
    margin-bottom: 50px;
    text-align: center;
}

.home__cta--text {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

.home__cta--link {
    font-weight: 100;
}


/*
    The ff statements are for the Clients page
*/

.clients__header {
    background: #ffff00;
    padding-top: 200px;
    margin-bottom: 1em;
}

.clients__header--enclosure {}

.clients__header--title {
    margin-left: 40px;
    line-height: 1.2;
    padding-bottom: 20px;
}

.clients__intro {
    margin-top: 20px;
}

.clients__list {
    background: url("divider.svg") bottom center no-repeat;
    padding-bottom: 60px;
}

.clients__list--group {
    margin: 0px;
    margin-top: 80px;
    padding: 10px;
}

.clients__list--item {
    list-style-type: none;
    margin: 15px 0;
    display: inline-block;
    width: 22.5%;
    padding: 0 1%;
}

@media (max-width: 768px) {
    .clients__list--item {
        width: 30%;
        padding: 0 .8%;
    }
}

@media (max-width: 712px) {
    .service--item {
        width: 90%;
        padding: 95px 0 0;
        margin: 5%;
    }
}

@media (max-width: 600px) {
    .clients__list--item {
        width: 42.8%;
        padding: 0 2.5%;
    }
}